.about-text{
  margin: 40px 50px;
  text-align: center;
  font-size: 20px;
}
.lighter{
  color: grey;
}
.section-2{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 80px;
}
.about-statement{
  font-weight: bold;
  font-size: xx-large;
  margin-right: 120px;
  width: 450px;
}
.about-write{
  font-size: 17px;
  width: 500px;
  margin-left: -20px;
}
.section-3{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.about-pic{
  width: 25%;
  height: 320px;
}

@media (max-width: 600px){
  .about-text{
    width: 450px;
    margin-left: 15px;
    margin-top: 25px;
    line-height: 20px;
    font-size: 15px;
  }
  .section-2{
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .about-statement{
    width: 200px;
    font-size: 14px;
    margin: 0;
    margin-right: 15px;
  }
  .about-write{
    margin: 0;
    width: 250px;
    font-size: 11px;
    margin-right: 20px;
  }
  .about-pic{
    width: 30%;
    height: 200px;
  }
}

@media (max-width: 425px){
  .about-text{
    width: 400px;
    font-size: 15px;
  }
}