.banner-1{
  background-color: rgb(12, 12, 134);
  padding-bottom: 20px;
  margin: 20px 0px;
}
.banner-wording{
  margin-left: 20px;
  width: 700px;
  font-size: 55px;
  font-weight: bolder;
  margin-top: 35px;
  padding-top: 30px;
  color: white;
  font-family: Roboto;
}
.logo-name{
  color: yellow;
}
.banner-words{
  margin-top: -30px;
  font-size: 16x;
  margin-left: 20px;
  color: white;
  width: 620px;
  line-height: 18px;
}
.picture-inbuilt{
  width: 4%;
  border-radius: 100%;
  margin-right: -15px;
  margin-bottom: -8px;
}
.plus{
  width: 4%;
  background-color: #99c6f4df;
  border-radius: 60%;
  margin-bottom: -8px;
}
.start{
  margin-left: 20px;
  font-size: 10px;
  font-weight: 300;
  border: 1px solid #4385c8df;
  color: white;
  background-color: #4385c8df;
  padding: 9px 25px;
  border-radius: 20px;
}
.start span{
  border: none;
  background-color: white;
  border-radius: 20px;
  padding: 0px 3px;
  padding-bottom: 2px;
  color: black;
}
.count-1{
  margin-left: 950px;
}
.profile-2{
  width: 15%;
  border-radius: 100%;
  margin-right: -20px;
}
.company-count{
  font-size: 10px;
  margin-top: 0;
  color: white;
}
.banner-2{
  background-color: black;
  display: flex;
  flex-direction: column;
}
.top-banner{
  display: flex;
  flex-direction: row;
}
.banner-pic{
  width: 65%;
  height: 200px;
  margin-top: 20px;
  margin-left: 30px;
}
.split-text{
  color: white;
  font-size:250px;
  font-weight: 900;
  letter-spacing: 23px;
  height: 110px;
  overflow: hidden;
  line-height: 60px;
  transform: translateY(-50%);
  margin-top: 90px;
  margin-bottom: 0;
}
.in-banner-pic{
  position: absolute;
  color: black;
  margin-top: -60px;
  margin-left: 40px;
  font-size: 25px;
  width: 150px;
}
.beside-banner-pic{
  font-size: 50px;
  line-height: 50px;
  color: white;
  width: 500px;
  margin-left: 70px;
}
.about-list {
  padding: 20px 30px;
  display: flex;
  gap: 35px;
  margin-top: 30px;
  margin-left: 80px;
}

.about-list .column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.about-list a {
  color: white;
  font-size: 14px;
  text-decoration: none;
  font-family: Roboto;
}


@media (max-width: 600px) {
  .banner-wording{
    width: 400px;
    font-size: 25px;
  }
  .banner-words{
    font-size: 11px;
    width: 400px;
    line-height: 18px;
    margin-top: -20px;
  }
  .picture-inbuilt{
    margin-bottom: -5px;
    margin-right: -10px;
  }
  .plus{
   margin-bottom: -5px;
  }
  .count-1{
   margin-left: 350px;
  }
  .profile-2{
    width: 28%;
    border-radius: 100%;
    margin-right: -18px;
  }
  .banner-pic{
    width: 100px;
    height: 100px;
    margin-left: 10px;
  }
  .in-banner-pic{
    margin-top: -40px;
    margin-left: 20px;
    font-size: 15px;
    width: 100px;
  }
  .beside-banner-pic{
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    width: 200px;
    margin-left: 20px;
    margin-top: 23px;
  }
  .split-text{
    margin-left: 10px;
    font-size: 73px;
    letter-spacing: 23px;
    height: 35px;
    overflow: hidden;
    line-height: 25px;
    transform: translateY(-50%);
    margin-top: 30px;
    margin-bottom: 0;
  }
  .about-list {
    gap: 15px;
    margin-top: 7px;
    margin-left: -20px;
    padding: 10px 20px;
  }
  .about-list .column {
   gap: 2px;
}
}
@media (max-width: 425px){
  .banner-wording{
    width: 320px;
    font-size: 20px;
    margin-bottom: 27px;
  }
   .banner-words{
    font-size: 8px;
    width: 280px;
    line-height: 14px;
  }
   .picture-inbuilt{
    margin-bottom: -3px;
    margin-right: -7px;
  }
   .plus{
    margin-bottom: -3px;
  }
  .start{
    padding: 7px 20px;
  }
  .count-1{
   margin-left: 300px;
  }
  .profile-2{
    margin-right: -15px;
    width: 23%;
  }
  .company-count{
    font-size: 8px;
  }
  .banner-pic{
    width: 80px;
    height: 80px;
    margin-left: 10px;
  }
  .in-banner-pic{
    font-size: 10px;
    width: 60px;
    margin-top: -40px;
    margin-left: 15px;
  }
  .beside-banner-pic{
    font-size: 17px;
    line-height: 20px;
    width: 180px;
    margin-left: 17px;
    margin-top: 23px;
  }
  .about-list {
    gap: 10px;
    margin-top: 7px;
    margin-left: -20px;
    padding: 7px 17px;
  }
  .about-list .column {
   gap: 2px;
  }
  .about-list a {
    font-size: 11px;
  }
  .split-text{
    font-size: 60px;
    letter-spacing: 23px;
    height: 35px;
    overflow: hidden;
    line-height: 25px;
    transform: translateY(-50%);
    margin-bottom: 0;
  }
}
