.hero{
  width: 100%;
  height: 540px;
}
.hero-text{
  position: absolute;
  text-align: start;
  top: 20%;
  width: 500px;
  margin-top: -50px;
}
h2{
  font-size: 48px;
  color: white;
  font-family: Roboto;
  line-height: 60px;
  margin-left: 40px;
}
.blue{
  color: #4385c8df;
}
.hero-profile{
  margin-left: 40px;
  color: white;
  margin-top: -30px;
}
.profile{
  width: 9%;
  border-radius: 100%;
  margin-right: -21px;
}
.hero-button{
  border: none;
  padding: 8px 10px;
  background-color: #4385c8df;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.hero-button span{
  padding: 0 3px;
  padding-bottom: 2px;
  background-color: white;
  color: black;
  border-radius: 20px;
}

@media (max-width: 600px) {
  .hero{
    height: auto;
  }
  .hero-text{
    width: 340px;
  }
  h2{
    font-size: 30px;
    line-height: 37px;
    font-weight: bolder;
  }
  .profile{
    margin-right: -15px;
  }
  .hero-profile{
    margin-top: -15px;
  }
  .count{
    margin-top: -3px;
    font-size: 10px;
  }
  .hero-button{
    margin-top: 5px;
    padding: 6px 10px;
  }
}