.navbar{
  display: flex;
  flex-direction: row;
  position: absolute;
}
li a{
  font-style: none;
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-right: 35px;
}
li{
  display: inline-block;
}
.nav-button{
  border: none;
  background-color: white;
  border: 2px solid white;
  border-radius: 20px;
  padding: 8px 10px;
  margin-left: 800px;
  font-weight: bold;
  cursor: pointer;
}
.nav-button span {
  padding: 0 3px;
  padding-bottom: 2px;
  background-color: #4385c8df;
  border-radius: 20px;
}

@media (max-width: 600px) {
  li a{
    margin-right: 10px;
  }
  .nav-button{
  padding: 6px 8px;
  margin-left: 100px;
  }
}